<div class="row" style="margin-top:-1.4em;margin-left:0.1em;">
<div class="nav-side-menu pull-left">
  <div class="brand">Restaurent India</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
              <!-- <li>
                <a href="#"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a>
              </li> -->
              <li  *ngFor="let catg of cg" data-toggle="collapse" data-target="#products"
                   class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> {{catg.groupName}} <span class="arrow"></span></a>
                <ul *ngFor="let cat of catg.categories" class="sub-menu collapse" id="products">
                  <li class="active" (click)="getProductsByCategory(ct.value)" #ct value="{{cat.categoryId}}">{{cat.categoryName}}</li>
              </ul>
          </ul>
   </div>
</div>
</div>