<div class="row">
    <div *ngFor="let p of this.products" class="col-lg-6" style="padding: 5px;">
      <div class="card border border-danger rounded">
        <img class="card-img-top" src="{{p.imageUrl}}" height="150">
        <div class="card-body">
          <h5 class="card-title text-primary">{{p.productName}}&#8195;{{p.price}}</h5>
          <p class="card-text">{{p.productDescription}}</p>
          <a href="#" class="btn btn-primary" title="Click to buy">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
